Babel==2.13.0
gunicorn
bcrypt
scikit-learn
datetime
flask
fpdf
email
Brotli==1.1.0
certifi==2023.7.22
cffi
charset-normalizer==3.2.0
colorama==0.4.6
cryptography==41.0.4
cssselect2==0.7.0
defusedxml==0.7.1
EasyProcess==1.1
entrypoint2==1.1
fonttools
fpdf2==2.7.5
html5lib==1.1
idna==3.4
InvoiceGenerator==1.1.0
mss
numpy
pandas
package-name==0.1  # Replace 'package-name' with the actual package name and version.
pdfcrowd==5.14.0
pdfkit==1.0.0
Pillow
pycparser==2.21
pydyf==0.8.0
PyGetWindow==0.0.9
PyMsgBox==1.0.9
PyMySQL==1.1.0
pyperclip==1.8.2
pyphen==0.14.0
pypng==0.20220715.0
PyRect==0.2.0
pytweening==1.0.7
qrcode==7.4.2
qrplatba
razorpay==1.4.1
reportlab==4.0.5
requests==2.31.0
six==1.16.0
soupsieve
tinycss2==1.2.1
typing-extensions  # Corrected package name
urllib3
weasyprint
webencodings
zopfli
