Babel==2.13.0
Brotli==1.1.0
certifi==2023.7.22
cffi
flask
scikit-learn
bcrypt
charset-normalizer
colorama
gunicorn
cryptography
psycopg2
cssselect2
defusedxml
EasyProcess
entrypoint2 
fonttools
fpdf
html5lib
idna
InvoiceGenerator
mss
package-name
pdfcrowd
pdfkit
Pillow
pycparser
pydyf
PyGetWindow
PyMsgBox
PyMySQL 
pyperclip 
pyphen 
pypng 
PyRect 
pytweening 
qrcode 
qrplatba 
razorpay 
reportlab
requests 
six 
soupsieve 
tinycss2 
typing_extensions 
urllib3 
weasyprint 
webencodings 
zopfli 
numpy
pandas 
