/* Reset some default styles */
body, h1, h2, ul {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #daeae8;
}

.header {
    background-color: #ffffff;
    /* background-color: #3eb489; */
    color: rgb(0, 0, 0);
    height: 100px;
    /* text-align: center; */
    margin-top: -20px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: 20px;
    background-color: #555;
    padding: 10px 20px;
}
.a{
    display: flex;
    margin-right: 50px;
    margin-top: 50px;
    color: #000;
    font-weight: bold;

}
.h1{
    display:flex ;
    position: absolute;
    left: -5%;
    top:-10px;
    margin-top: 50px;
    margin-left: 650px;
}
.a1{
    display: flex;
    margin-right: 35px;
    margin-top: 50px;
    color: #000;
    font-weight: bold;


}
nav li {
    margin: 10px 10px;
    padding: 10px 10px;

}
nav lie {
    margin: 10px 900px;
    padding: 10px 100px;

}

.main{
    margin-top: 150px;
}
nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin: 10px;
    padding: 10px 10px;
}
button {
    padding: 15px 25px;
    width: 45%;
    margin-left: 27px;
    border: unset;
    border-radius: 15px;
    z-index: 1;
    background: #e8e8e8;
    position: relative;
    color: #fff;
    font-weight: 1000;
    background: #ffffff;
    font-size: 17px;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms;
    overflow: hidden;
   }
   
   button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 15px;
    background: linear-gradient(
    82.3deg,
    rgba(150, 93, 233, 1) 10.8%,
    rgba(99, 88, 238, 1) 94.3%
  );
    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms
   }
   
   button:hover {
    color: #e8e8e8;
   }
   
   button:hover::before {
    width: 100%;
   }
.logo{
   display: flex;
   margin-left: 20px;
   margin-top: 20px;
   width: 100%;
   height: 70px;
   /* margin-top: 20px; */
}
/* .h1{
    display: flex;
    margin-left: 500px;
    width: 100%;
    margin-top: 20px;
    text-align: center;
} */
nava ul {
    list-style: none;
    display: flex;
    justify-content: 20px;
    background-color: #555;
    padding: 10px 20px;
}

nava li {
    margin: 10px 20px;
    padding: 10px 15px;

}

nava a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin: 60px;
    padding: 40px 40px;
}
main {
    max-width: 900px;
    margin: 20px auto;
    position: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.profile, .content {
    margin-bottom: 20px;
}

footer {
    text-align: center;
    background-color: #333;
    color: white;
    padding: 20px 50px;
}
